body {
	background-color: #fff;
}
#wrapper {
	width: 80%;
	border: solid 1px #000;
}
#wrapper2 {
	width: 80%;
	border: solid 1px #000;
}
.header {
	border: solid 2px #0f0;
}
.footer {
	clear: both;
	border: solid 2px #0ff;
}
.resizable {
	float: left;
	width: 30%;
	height: 100px;
	border: solid 2px #f00;
}
.dependent {
	float: left;
	width: 69%;
	height: 100px;
	border: solid 2px #00f;
}

.resizable p {
	border: dashed 4px #00ffff;
	margin:0;
}
.dependent p {
	border: dashed 4px #ffff00;
	margin:0;
}
