#jrc-wrapper {
	width: 80%;
	border: solid 1px #000;
}
.jrc-header {
	border: solid 2px #0f0;
}
.jrc-footer {
	clear: both;
	border: solid 2px #0ff;
}
.jrc-resizable {
	float: left;
	width: 30%;
	min-width: 100px;
	height: 200px;
	border: solid 2px #f00;
}
.jrc-dependent {
	float: left;
	width: 68%;
	height: 200px;
	border: solid 2px #00f;
}

.jrc-resizable p,
.jrc-dependent p {
	margin:0;
	font-size: 14px;
}
